header {
  padding: 20px;
  @include background-relative;
  background-image: url('https://images.unsplash.com/photo-1524230659092-07f99a75c013?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fG11c2ljJTIwY29uY2VydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');

  .header-background {
    @include background-content
  }
}


.hamburger {
  a {
    color: white;

    :hover {
      transform: scale(1.2);
    }
  }
}

.toggle-list{
  padding: 0%;
  margin: 0%;
  display: none;

  li {
    list-style: none;
    padding: 10px 0;

    a {
      @include link;
      text-align: left;
    }
  }
}

.header {
  width: 100%;
  padding: 15px 0;

  h1 {
    color: $header-color;
    font-size: size(medium);
    
  }

  h2 {
    @include header-mobile;
  }
}

.text {
  padding: 5px;
  @include text-mobile;
  border: 1px solid white;
  width: 90%;
}

.Venue {
  padding: 30px 0;

  .duration {
  font-size: size(medium);
  font-weight: weight(medium);
  }

.location {
  padding: 10px 0;
@include text-mobile;
}
}