header {
  @include background-relative;

  background-image: url("https://images.unsplash.com/photo-1549605751-158aa5912530?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGNvbmNlcnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");

  .header-background {
    @include background-content;
  }
}

.mobile-version {
  padding: 10px;
}

.hamburger {
  color: white;
}

.toggle-list.show {
  display: flex;
}

.toggle-list {
  display: none;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  width: 100%;

  li {
    list-style: none;
    padding: 10px 0;

    a {
      @include link;

      text-align: center;
      font-size: 37px;
      font-weight: 500;

      :hover {
        background: none;
        color: #efefef;
      }
    }
  }

  .toggle-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.head-text {
  padding-left: 10px;
}

.header {
  width: 100%;
  padding: 15px 0;

  h1 {
    color: $header-color;
    // font-size: size(medium);

    font-family: "Cocogoose", sans-serif;
  }

  h2 {
    @include header-mobile;
  }
}

.text {
  padding: 5px;

  @include text-mobile;

  border: 1px solid white;
  width: 90%;
  color: #d3d3d3;
}

.Venue {
  padding: 30px 0;
  color: #d3d3d3;

  .duration {
    // font-size: size(medium);
    // font-weight: weight(medium);

    font-family: "Cocogoose", sans-serif;
  }

  .location {
    padding: 10px 0;

    @include text-mobile;
  }
}
