$imagePath: "https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGJsYWNrJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60";

$pathSequence: "https://images.unsplash.com/photo-1578850141295-7fb35c301da6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGNvbmNlcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60";

$imageAccess: "https://images.unsplash.com/photo-1554138927-3058b7030d32?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGNvbmNlcnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60";
