@import "./variables";
@import "./mixins";

/* font for larger text */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
}

li {
  list-style-type: none;
}

a {
  @include link;
}

@function weight ($weight-name){ 
  @return map-get($font-weight, $weight-name );
}

@function size ($size-value){ 
  @return map-get($font-size, $size-value );

}

// @function margin ($margin-position){ 
//   @return map-get($margin-center $margin-position );
// }
