$primary-color: #d3d3d3;
$text-color: #292b2ed3;
$header-color: #ec5242;

$font-weight: (
  "large": 700,
  "medium": 400,
  "small": 200,
);

$font-size: (
  "large" : 35px,
  "medium": 24px,
  "small" : 12px,
);
