@media screen and (min-width: 769px) {
  .program-header {
    padding-top: 1.7em;

    h3 {
      font-size: 27px;
      padding-bottom: 10px;
    }
  }

  .content-body {
    display: flex;
    flex-direction: row;
    padding-top: 2.5em;

    .content {
      display: flex;
      flex-direction: column;

      .fa-2x {
        font-size: 40px;
      }
    }
  }

  .Artist-content {
    @include gridAlign;

    .speaker-info h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 17px;
    }
  }
}
