$primary-color: #d3d3d3;
$text-color: #272a31;
$header-color: #ec5242;

$font-weight: (
  "large": 700,
  "medium": 500,
  "small": 400,
);

$font-size: (
  "large" : 40px,
  "medium": 32px,
  "small" : 20px,
);
