/* font for larger text */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #292b2ed3;
}

header {
  padding: 20px;
  top: 0%;
  left: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1524230659092-07f99a75c013?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fG11c2ljJTIwY29uY2VydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

header .header-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hamburger a {
  color: white;
}

.hamburger a :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.toggle-list {
  padding: 0%;
  margin: 0%;
  display: none;
}

.toggle-list li {
  list-style: none;
  padding: 10px 0;
}

.toggle-list li a {
  text-decoration: none;
  color: #292b2ed3;
  text-align: left;
}

.header {
  width: 100%;
  padding: 15px 0;
}

.header h1 {
  color: #ec5242;
  font-size: 24px;
}

.header h2 {
  line-height: 30px;
  font-family: "Cocogoose", sans-serif;
  color: #ec5242;
}

.text {
  padding: 5px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  width: 90%;
}

.Venue {
  padding: 30px 0;
}

.Venue .duration {
  font-size: 24px;
  font-weight: 400;
}

.Venue .location {
  padding: 10px 0;
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}

.main-program {
  background-color: #272a31;
  top: 0%;
  left: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGJsYWNrJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  padding-bottom: 1.4em;
}

.main-program-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.program-header h3 {
  color: white;
  text-align: center;
  font-family: "Cocogoose", sans-serif;
}

.program-header .slim {
  width: 7%;
  color: #ec5242;
  margin: 0% auto;
  border: 1px solid;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a31;
  margin: 12px;
  color: #d3d3d3;
  height: 24vh;
}

.content p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.content h3 {
  color: #ec5242;
  font-size: 24px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.content span {
  padding: 12px;
}

.button {
  text-align: center;
  margin-top: 3em;
}

.button button {
  background: #ff4f38;
  color: #efefef;
  border: none;
  height: 12vh;
  padding: 20px;
  font-size: medium;
}

.feature-speakers {
  background-color: white;
}

.feature-speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.feature-container h2 {
  text-align: center;
  font-family: "Cocogoose", sans-serif;
  font-weight: 200;
}

.feature-container .slim {
  width: 7%;
  color: #ec5242;
  margin: 0% auto;
  border: 1px solid;
}

.face-shot {
  width: 110px;
}

.speaker-info {
  width: 65%;
  text-align: center;
}

.speaker-info h3 {
  line-height: 30px;
  font-family: "Cocogoose", sans-serif;
  color: #ec5242;
  font-size: 15px;
}

.speaker-info h2 {
  font-family: "Cocogoose", sans-serif;
  font-size: 12px;
}

.speaker-info p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}

.partner {
  background-color: #272a31;
  padding: 20px 0;
}

.partner-header {
  text-align: center;
}

.partner-header h3 {
  color: white;
  text-align: center;
  font-family: "Cocogoose", sans-serif;
}

.partner-header .slim {
  width: 7%;
  color: #ec5242;
  margin: 0% auto;
  border: 1px solid;
}

.partner-content {
  text-align: center;
}

.partner-content .partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  text-align: center;
  font-family: "Cocogoose", sans-serif;
  font-size: 24px;
}

.partner-content .partner-list li {
  padding: 10px;
  text-transform: uppercase;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.footer-container .footer-image img {
  width: 110px;
  padding: 0 10px;
}

.footer-container .footer-right p {
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=index.css.map */